/* Highlight Microformats v0.2 */
/* ------------------------------------------------------- */

/* hCards + hCalendars */

.vcard, 
.vevent {
	border: 2px solid #e0e7b8 !important;
	padding: 25px 3px 3px 3px !important;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 5px 0 !important;
}

span.vcard, 
span.vevent {
	padding: 2px 1px 2px 70px !important;
	margin: 0 2px 0 !important;
}
 
/* images have to be saved as data URIs as usercontent doesn't support local images */

.vcard {
	
}


/* XFN */

a.n:hover:after, a.fn:hover:after {
   content: " (" attr(rel) ") ";
   color: #636958;
   padding-left: 0.3em;
 }
